html
{
	display: inline-block;
}
:root{
	--first-tab: 3ch;
	--second-tab: 5ch;
	--second-tab: 7ch;
	--pre-margin: 2ch;
}

@font-face
{
	font-family: "Anonymous Pro";
	src: url("./AnonymousPro.ttf") format("ttf");
}

body
{
	font-family: "Anonymous Pro", monospace, "Monaco", "Courrier New";
	display: inline-block;
	width: 100%;
}

*
{
	font-size: 14px;
	line-height: 1.1;
	margin: 0px;
	text-align: left;
}

.constant
{
	font-weight: bold;
}

dt
{
	font-weight: bold;
}

* var
{
	text-decoration: underline;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
}

.externalCommand
{
	font-weight: bold;
}


h2
{
	font-weight: bold;
	margin-top: 1em;
	text-transform: uppercase;
}

h3, h4, h5, h6, h7
{
	margin-top: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: var(--first-tab);
}

h2 small, h3 small, h4 small, h5 small, h6 small, h7 small
{
	text-transform: none;
}


pre, img
{
	margin-left: calc(var(--second-tab) + var(--pre-margin));
	white-space: pre-wrap; /* Conserve les espaces et les retours à la ligne tout en permettant le repli du texte */
	overflow-wrap: break-word;
}

p, dl, ol, ul,
pre, img
{
	margin-left: var(--second-tab);
}

p > ol, dd > ol
{
	margin-left: 2em;
}

p > img
{
	margin-left: var(--pre-margin);
}

dl dl
{
	margin-left: 0;
}

dd > p
{
	margin-left: 0em;
}

pre
{
	white-space: -moz-pre-discard-newlines;
}

ul
{
	list-style: none;
	padding-left: 0;
}


ul li:before
{
	content: ".";
	margin-right: 4em
}


p
{
	margin-bottom: 1em;
}

nav
{
	display: inline-block;
	width: 100%;
}

nav.header
{
	margin-bottom: 1em;
}

nav.footer
{
	margin-top: 1em;
}

a[href]
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a[href]:hover
{
	font-weight: bold;
}

a.visible:before
{
	content: "<";
}

a.visible:after
{
	content: ">";
}

dd
{
	margin-left: 4em;
	padding-bottom: 1em;
}

nav
{
	position: relative;
}

nav > span
{
	position: absolute;
	display: inline;
}

nav > span:first-of-type
{
	left: 0px;
	text-align: left;
}

nav > span:last-of-type
{
	right: 0px;
	text-align: right;
}

nav > span:nth-of-type(2)
{
	right: 0px;
	left: 0px;
	text-align: center;
}

footer
{
	margin-top: 3em;
	text-align: center;
}

footer > div
{
	display: inline-block;
	width: 32%;
}

footer > div:first-of-type
{
	text-align: left;
	position: absolute;
	left: 0;
}

footer > div:last-of-type
{
	text-align: right;
	position: absolute;
	right: 0;
}

footer > div:nth-of-type(2)
{
	text-align: center;
}

pre, img
{
	margin-bottom: 1em;
}

img
{
	margin-right: 1em;
	max-width: calc( 100% - var(--second-tab) - 1ch );
	max-height: calc( 100vh - 2em );
}


dd > blockquote, dd > pre, dd > img
{
	margin-left: 2em;
	margin-bottom: 1em;
}


h2+h3
{
	margin-top: 1px;
}

h2 > a[href], h3 > a[href]
{
	color: inherit;
	font-weight: inherit;
}

h2 > a[href]:hover, h3 > a[href]:hover
{
	color: inherit;
	text-shadow: 0 0 2px;
}

a[href].h1-ref
{
	font-weight: bold;
	text-transform: uppercase;
}

a[href].h1-ref:hover
{
	text-shadow: 0 0 2px;
}

a[href].h2-ref
{
	color: inherit;
	font-weight: inherit;
	font-weight: bold;
	text-transform: uppercase;
}

a.displayedLink[href]
{
	font-weight: bold;
}

a.displayedLink[href]:hover
{
	color: inherit;
	font-weight: bold;
	text-shadow: 0 0 2px;
}

a.displayedLink[href]:before, a.displayedLink[href]:after
{
	content: "|";
	font-weight: normal;
}

ul.inline li:before
{
	content: "";
	margin-right: 0;
}

ul.inline li
{
	display: inline;
}


a:active
{
	transform: scale(0.8);
	display: inline-block;
}


.Function { font-weight:bold; }
.Type { font-weight:bold; }
.String { font-style: italic; }
.Identifier { font-weight: bold}
